<h1>Portfolio Items</h1>

<% @portfolios.each do |portfolio| %>
<p><%= portfolio.title %></p>
<p><%= portfolio.subtitle %></p>
<p><%= portfolio.body %></p>
<p> <img src ="<%= portfolio.thumb_image %>"</p>

<% end %>